.movies-card-list {
  margin: 77px auto 0;
  column-gap: 20px;
  row-gap: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1140px;
}

.button-next {
  margin: 48px auto 160px;
  width: 320px;
  height: 36px;
  border: 2px solid #424242;
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 1170px) {
  .movies-card-list {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    margin-top: 89px;
    padding-right: 0;
    padding-left: 18px;
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card-list {
    margin-top: 50px;
    padding: 0;
    row-gap: 20px;
  }
}
