.movies-card-list {
  margin: 77px auto 0;
  padding: 0;
  column-gap: 20px;
  row-gap: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1140px;
list-style-type: none;
}

.movies-card-list_save {
  margin-bottom: 252px;
  justify-content: center;
}

.button-next {
  margin: 82px auto 160px;
  width: 320px;
  height: 36px;
  border: 2px solid #424242;
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: opacity 0.5s;
}

.button-next:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1170px) {
  .movies-card-list {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    margin-top: 89px;
    padding: 0 30px;
    column-gap: 30px;
    row-gap: 36px;
  }

  .button-next {
    margin: 58px auto 160px;
  }
}

@media screen and (max-width: 375px) {
  .movies-card-list {
    margin-top: 50px;
    padding: 0 10px;
    row-gap: 20px;
  }

  .movies-card-list_save {
    margin-bottom: -5px;
}

  .button-next {
    margin-top: 70px;
    width: 240px;
    height: 36px;
  }
}
