.movie-card {
  width: 270px;
  height: 218px;
  display: flex;
}

.movie-card__container {
  height: 67px;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.movie-card__img {
  width: 270px;
  height: 151px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: block;
}

.movie-card__text {
  margin: 0;
  padding: 15px 0 9px 13px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movie-card__time {
  padding: 1px 0 11px 10px;
  color: #8b8b8b;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.movie-card__like {
  width: 40px;
  height: 50px;
  background-image: url("../../images/save.svg");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212121;
  cursor: pointer;
  transition: opacity 0.5s;
}

.movie-card__like:hover {
  opacity: 0.8;
}

.movie-card__like_active {
  background-image: url("../../images/saveDisable.svg");
}

.movie-card__delete {
  background-image: url("../../images/deleteMovie.svg");
}

@media screen and (max-width: 768px) {
  .movie-card {
    width: 339px;
    height: 257px;
  }

  .movie-card__img {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 390px) {
  .movie-card {
    width: 300px;
    height: 235px;
  }

  .movie-card__img {
    width: 300px;
    height: 168px;
  }
}
