.profile {
  margin: 0 auto;
  width: 410px;
}

.profile__form-title {
  margin-top: 73px;
  margin-bottom: 123px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__name-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__email-block {
  margin-top: 17px;
  margin-bottom: 220px;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__btn-edit {
  width: 410px;
  display: block;
  margin-bottom: 12px;
  background-color: #202020;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: opacity 0.5s;
}

.profile__btn-edit:hover {
  opacity: 0.8;
}

.profile__btn-exit {
  width: 410px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  background-color: #202020;
  border: none;
  text-align: center;
  color: #ee3465;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: opacity 0.5s;
  text-decoration: none;
}

.profile__btn-exit:hover {
  opacity: 0.8;
}

.profile__btn-save {
  width: 410px;
  height: 45px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #3456f3;
  cursor: pointer;
  transition: opacity 0.5s;
}

.profile__btn-save:hover {
  opacity: 0.8;
}

.profile__form-input {
  padding: 0;
  background-color: #202020;
  color: #fff;
  border: none;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .profile__form-title {
    margin-top: 235px;
    margin-bottom: 96px;
  }

  .profile__email-block {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 430px) {
  .profile {
    max-width: 320px;
    padding: 0 30px;
  }

  .profile__email-block {
    max-width: 260px;
    margin-bottom: 377px;
  }

  .profile__name-block {
    max-width: 260px;
  }

  .profile__btn-edit {
    max-width: 300px;
    padding-right: 46px;
    font-size: 12px;
  }

  .profile__btn-exit {
    max-width: 300px;
    padding-right: 46px;
    font-size: 12px;
  }

  .profile__btn-save {
    width: 260px;
  }

  .profile__form-title {
    margin-top: 71px;
    margin-bottom: 81px;
    padding-right: 59px;
  }
}
