.portfolio {
  padding: 0 70px 185px;
}

.portfolio__title {
  margin: 0 0 46px;
  color: #8b8b8b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__subtitle {
  margin: 0;
}

.portfolio__link {
  margin-top: 16px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
  border-bottom: 1px solid #424242;
}

.portfolio__pointer {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 200% */
  letter-spacing: -1.2px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 149px;
  }
  .portfolio__subtitle {
    font-size: 28px;
    line-height: 50px; /* 178.571% */
    letter-spacing: -1.12px;
  }
  .portfolio__title {
    margin-bottom: 45px;
  }
  .portfolio__pointer {
    font-size: 28px;
  }
}

@media screen and (max-width: 430px) {
  .portfolio {
    padding: 0 14px;
  }
  .portfolio__subtitle {
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.72px;
  }
  .portfolio__title {
    margin-bottom: 26px;
    margin-top: 69px;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__link {
    margin-top: 7px;
    padding-bottom: 0px;
  }

  .portfolio__pointer {
    font-size: 28px;
  }
}
