.search {
  padding: 0 66px;
}

.search-form__container {
  margin: 0 auto;
  padding: 58px 0 4px;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #424242;
}

.search-form__input {
  width: 1086px;
  height: 50px;
  border-radius: 8px;
  background: #212121;
  color: #fff;
  border: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-form__input:focus {
  outline: none;
  border-bottom: 1px solid #8b8b8b;
}

.search-form__btn {
  margin-left: 6px;
  width: 34px;
  height: 34px;
  background-color: #202020;
  border: none;
  background-image: url("../../images/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.5s;
}

.search-form__btn:hover {
  opacity: 0.8;
}

.search-form__error {
  min-height: 16px;
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 0;
  }
  .search-form__container {
    padding-top: 70px;
    padding-bottom: 4px;
    max-width: 708px;
  }

  .search-form__input {
    width: 658px;
  }
}

@media screen and (max-width: 725px) {
  .search-form {
    padding: 0 10px;
  }
}

@media screen and (max-width: 530px) {
  .search-form__input {
    width: 455px;
  }
}

@media screen and (max-width: 450px) {
  .search-form__input {
    width: 300px;
  }
}

@media screen and (max-width: 380px) {
  .search {
    padding: 0 15px;
  }
  .search-form {
    padding: 0;
  }

  .search-form__input {
    width: 229px;
    font-size: 18px;
  }

  .search-form__container {
    max-width: 292px;
    padding-top: 76px;
    padding-bottom: 0;
  }

  .search-form__btn {
    margin-left: 15px;
  }
}
