.register {
  margin: 0 auto;
  width: 396px;
}

.register__logo {
  padding-top: 70px;
  padding-bottom: 38px;
}

.register__form__title {
  margin: 0;
  padding-bottom: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.register__block {
  display: block;
}

.register__span {
  display: flex;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__input {
  padding: 14px;
  margin-bottom: 20px;
  margin-top: 8px;
  width: 366px;
  height: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: #2f2f2f;
  border: none;
  color: #fff;
}

.register__btn-registration {
  margin-top: 197px;
  margin-bottom: 16px;
  width: 396px;
  height: 45px;
  border-radius: 3px;
  background: #4285f4;
  font-size: 14px;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.register__text {
  margin-bottom: 70px;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__btn-register {
  margin-left: 6px;

  color: #4285f4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
