.footer {
  padding: 0 70px;
}

.footer__title {
  margin: 0;
  padding-bottom: 20px;
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #424242;
}

.footer__block {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__year {
  margin: 0;
}

.footer__company {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    padding: 129px 9px 0;
  }

  .footer__title {
    padding-bottom: 22px;
    font-size: 12px;
  }
  .footer__block {
    flex-direction: column-reverse;
    text-align: center;
    font-size: 12px;
  }

  .footer__links {
    display: block;
  }

  .footer__company {
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .footer__year {
    margin-top: 18px;
    color: #8b8b8b;
  }
}
